<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Message</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <div class="container text-center">
        <h3>[[${title}]]</h3>
        <h4>[[${message}]]</h4>
        <h4><a th:href="@{/}">Click here to go back to login and view the changes</a></h4>
    </div>
     
</body>
</html>