<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        	rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        	crossorigin="anonymous">
    </head>

    <body>
        <div class="container-fluid">
            <div class="panel panel-primary">
                <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                    <!-- Brand/logo -->
                    <a class="navbar-brand" href="/userDashboard">
                        <img src="../static/images/c19logo.png" th:src="@{images/c19logo.png}" width="30" height="30" alt="">
                    </a>
                    <!-- Links -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/userDashboard">Home</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="/userDashboard">Link2</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="/settings">Settings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/groups">Groups</a>
                        </li>
                        <li class="nav-item">
                            <a  class="nav-link" href="javascript: document.logoutForm.submit()">Logout</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </body>

    <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
        <input type="submit" value="Logout" />
    </form>

    <body style = "margin-top: 10px; background-color: rgba(255,255,255,0.6); background-blend-mode: lighten; background-image: url('images/background.jpg'); background-position: top; background-size: cover;">
        <div class="container-fluid text-center">
            <form th:action="@{/change_details}" method="post" style="max-width: 450px; margin: 0 auto; margin-top: 10px">

                <div th:if="${param.error}">
                    <p  style="background-color:red; color: white;">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
                </div>

                <div th:if="${param.logout}">
                    <p  style="background-color:red; color: white;">You have been logged out.</p>
                </div>

                <div class="border border-secondary p-3 rounded" style="background-color: whitesmoke;">
                    
                    <p style="font-weight: bold; font-size: 30px;">Change Details</p>

                    Current Workplace: <span th:text="${#authentication.getPrincipal().getWorkplace()}"></span>
                    <div class="form-group row">
                        <label class="col-4 col-form-label">New Workplace: </label>
                        <div class="col-8">
                                <select class="form-control" id="workplace" name="workplace" required>
                                <option selected>Select...</option>
                                <option>Shopping Center</option>
                                <option>Office Building</option>
                                <option>Hospital</option>
                                <option>Clinic</option>
                                <option>Restaurant</option>
                                <option>Coffee Shop</option>
                            </select> 
                        </div>
                    </div>

                    Current Vaccination Status: <span th:text="${#authentication.getPrincipal().getIsVaccinated}"></span>
                    <div class="form-group row">
                        <label class="col-4 col-form-label">Are you fully vaccinated?</label>
                        <div class="col-8">
                                <select class="form-control" id="isVaccinated" name="isVaccinated" required>
                                <option selected>Select...</option>
                                <option>Yes</option>
                                <option>No</option>
                            </select> 
                        </div>
                    </div>
                    <p>
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </p>
                </div>
            </form>
        </div>
    </body>
</html>