<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        	rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        	crossorigin="anonymous">
    </head>

    <body>
        <div class="container-fluid">
            <div class="panel panel-primary">
                <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                    <!-- Brand/logo -->
                    <a class="navbar-brand" href="/userDashboard">
                        <img src="../static/images/c19logo.png" th:src="@{images/c19logo.png}" width="30" height="30" alt="">
                    </a>
                    <!-- Links -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/userDashboard">Home</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="/userDashboard">Link2</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="/settings">Settings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/groups">Groups</a>
                        </li>
                        <li class="nav-item">
                            <a  class="nav-link" href="javascript: document.logoutForm.submit()">Logout</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </body>

    <div>
        <h2 style="text-align: center;">Groups</h2>
    </div>

    <style>
        table {table-layout: fixed;
                word-wrap: break-word;}
    </style>

    <div class="row justify-content-center">
        <div th:if="${not #lists.isEmpty(companyGroups)}">
            <table class="table table-bordered table-dark w-auto">

                <thead>
                    <tr>
                        <th scope="col">Company Name</th>
                        <td scope="col">Join Group</td>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="companyGroup: ${companyGroups}">

                        <td th:text="${companyGroup.companyGroupName}"></td>

                        <td>
                            <form action="#" th:action="@{/join_group}" th:object="${companyGroup}" method="POST">
                                <input type="hidden" th:value="${companyGroup.companyGroupName}" name="companyGroupName"/>
                                <input type="hidden" th:value="${companyGroup.companyGroupIndustry}" name="companyGroupIndustry"/>
                                <input type="hidden" th:value="${companyGroup.companyGroupOwner}" name="companyGroupOwner"/>
                                <button type="submit" class="btn btn-primary">Join Group</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div th:unless="${not #lists.isEmpty(companyGroups)}">
            <h4><div th:text="'No Groups Found. Please ask your Employer to Create a Group.'"></div></h4>
        </div>

    </div>

    <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
        <input type="submit" value="Logout" />
    </form>
</html>