<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        	rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        	crossorigin="anonymous">
    </head>

    <body>
        <div class="container-fluid">
            <div class="panel panel-primary">
                <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                    <!-- Brand/logo -->
                    <a class="navbar-brand" href="/userDashboard">
                        <img src="../static/images/c19logo.png" th:src="@{images/c19logo.png}" width="30" height="30" alt="">
                    </a>
                    <!-- Links -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/userDashboard">Home</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="/userDashboard">Link2</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="/settings">Settings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/groups">Groups</a>
                        </li>
                        <li class="nav-item">
                            <a  class="nav-link" href="javascript: document.logoutForm.submit()">Logout</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </body>

    <!-- <div>
        <h2 style="text-align: center;">Group</h2>
    </div> -->

    <div>
        <h2 style="text-align: center;" th:text="${userCompanygroupName}"></h2>
    </div>

    <div class="text-center">
        <form th:action="@{/delete_group}" method="post" style="max-width: 450px; margin: 0 auto; margin-top: 10px">
            <p>
                <input type="submit" value="Delete Group" class="btn btn-primary"/>
             </p>
        </form>
    </div>



    <style>
        table {table-layout: fixed;
                word-wrap: break-word;}
    </style>

    <div class="row justify-content-center">
        <div th:if="${not #lists.isEmpty(usercompanyGroups)}"></div>
        <table class="table table-bordered table-dark w-auto">
            <tr >
                <th class="text-center" scope="col">Employee</th>
                <!-- <th scope="col">Email</th> -->
                <th class="text-center" scope="col">Vaccination Status</th>
            </tr>

            <tr th:each="user: ${usercompanyGroups}">
                <td class="text-center" th:text="${user.Username}"></td>
                <!-- <td th:text="${user.email}"></td> -->
                <td class="text-center" th:switch="${user.isVaccinated}">
                    <p class="p-3 mb-2 bg-success text-white" th:case="true">Vaccinated</p>
                    <p class="p-3 mb-2 bg-danger text-white" th:case="false">Unvaccinated</p>
                    <p class="p-3 mb-2 bg-warning text-white" th:case="*">Unknown</p> 
                </td>
            </tr>
        </table>
    </div>

    <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
        <input type="submit" value="Logout" />
    </form>

</html>