<div>
    <h2 style="text-align: center;">Forgot Password</h2>
</div>
     
<div th:if="${error != null}">
    <p class="text-danger" style="text-align: center;">[[${error}]]</p>
</div>
<div th:if="${message != null}">
    <p class="text-warning" style="text-align: center;">[[${message}]]</p>
</div>
         
<form th:action="@{/forgot_password}" method="post" style="max-width: 350px; margin: 0 auto;">
<div class="border border-secondary rounded p-3">

    <div class="container" style="width: 350px;">
        <p>
            <input style="width: 100%" type ="email" name="email" class="form-control" placeholder="Enter your e-mail" required autofocus/>
        </p>         
        <div class="buttonHolder" style="text-align: center;">

            <input  type="submit" value="Send" class="btn btn-primary" />
        </div>
    </div>
</div>
</form>