<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        	rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        	crossorigin="anonymous">
    </head>

    <body>
    <div class="container-fluid">
	     <div class="panel panel-primary">
          <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <!-- Brand/logo -->
            <a class="navbar-brand" href="/userDashboard">
              <img src="../static/images/c19logo.png" th:src="@{images/c19logo.png}" width="30" height="30" alt="">
            </a>
          
            <!-- Links -->
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/userDashboard">Home</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="/userDashboard">Link2</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="/settings">Settings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/groups">Groups</a>
              </li>
              <li class="nav-item">
                <a  class="nav-link" href="javascript: document.logoutForm.submit()">Logout</a>
              </li>
            </ul>
          </nav>
          <br>
          <div class="panel-heading" sec:authorize="isAuthenticated()">
            <h2 style="text-align: center;" th:text= "${'Welcome, ' + #authentication.getPrincipal().getUsername()}"></h2>
          </div>
        </div>
    </body>


    <!-- <div>
      <h2 style="text-align: center;">Employer group page</h2>
   </div> -->

    <h4 style="text-align: center;" ><a class="btn btn-primary btn-lg" th:href="@{/create_post}">Create Post</a></h4>

    
    <div>
      <h2 style="text-align: center;">News</h2>
  </div>

  <style>
      table {table-layout: fixed;
              word-wrap: break-word;}
  </style>

        <div th:object="${file}" class="row justify-content-center">
          <div th:if="${not #lists.isEmpty(newsPosts)}"></div>
          <table class="table table-bordered table-dark w-auto">
              <tr >
                  <th class="text-center" scope="col">Category</th>
                  <th class="text-center" scope="col">Title</th>
                  <th class="text-center" scope="col">Content</th>
              </tr>

              <tr th:each="file: ${newsPosts}">
                  <td class="text-center" th:text="${file.category}"></td>
                  <td class="text-center" th:text="${file.title}"></td>
                  <td class="text-center" th:text="${file.content}"></td>
              </tr>
          </table>
        </div>

    <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
      <input type="submit" value="Logout" />
    </form>
    
</html>