<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>C19</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
</head>

<body style = "margin-top: 10px; background-color: rgba(255,255,255,0.6); background-blend-mode: lighten; background-image: url('images/background.jpg'); background-position: top; background-size: cover;">
    <div class="container-fluid text-center">
        <div><!-- add logo -->
            <img class="img-fluid" width="150" src="../static/images/c19logo.png" th:src="@{images/c19logo.png}" />
        </div>
        <form th:action="@{/}" method="post" style="max-width: 450px; margin: 0 auto; margin-top: 10px">

            <div th:if="${param.error}">
                <p  style="background-color:red; color: white;">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
            </div>

            <div th:if="${param.logout}">
                <p  style="background-color:red; color: white;">You have been logged out.</p>
            </div>

            <div class="border border-secondary p-3 rounded" style="background-color: whitesmoke;">
                <p style="font-weight: bold; font-size: 30px;">LOGIN</p>
                <p>
                    <input type="username" name="username" class="form-control" placeholder="Username" required autofocus />
                </p>
                <p>
                    <input type="password" name="password" class="form-control" placeholder="Password" required />
                </p>
                <p>
                    <input type="checkbox" name="remember-me" />&nbsp;Remember Me
                </p>
                <p>
                    <input type="submit" value="Login" class="btn btn-primary" />
                </p>
                <p>
                    <a th:href="@{/forgot_password}">Forgot your password?</a>
                    <br>
                    <a th:href="@{/register}">Register for C19</a>
                </p>
            </div>
        </form>
    </div>
</body>

</html>