<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration Success</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <div class="container text-center">
            <h3>You already have an account.
            <!-- <p>Please check your email to verify your account.</p>      -->
            <h4><a th:href="@{/}">Click here to Login</a></h4>
        </h3>
        </div>
     
</body>
</html>