<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>G2T7</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body style = "margin-top: 50px; background-color: rgba(255,255,255,0.6); background-blend-mode: lighten; background-image: url('images/background.jpg'); background-position: top; background-size: cover;">
    <div class="container-fluid text-center">
        <div>
            <img class="img-fluid" width="150" src="../static/images/c19logo.png" th:src="@{images/c19logo.png}" />
        </div>

        <form th:action="@{/process_register}" th:object="${user}"
            autocomplete="off" method="post"style="max-width: 450px; margin: 0 auto; margin-top: 50px">
            <div class="border border-secondary p-3 rounded" style="background-color: whitesmoke;">
                <p style="font-weight: bold; font-size: 30px;">REGISTER</p>

                <div class="form-group row">
                    <label class="col-4 col-form-label">E-mail: </label>
                    <div class="col-8">
                        <input type="email" th:field="*{email}" class="form-control" required />
                    </div>
                </div>
                
                <div class="form-group row">
                    <label class="col-4 col-form-label">Username: </label>
                    <div class="col-8">
                        <input type="text" th:field="*{username}" class="form-control"
                                required minlength="5" maxlength="20"/>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label class="col-4 col-form-label">Password: </label>
                    <div class="col-8">
                        <input type="password" th:field="*{password}" class="form-control"
                                required minlength="8" maxlength="20"/>
                    </div>
                </div>

                <!--
                <div class="form-group row">
                    <label class="col-4 col-form-label">Confirm Password: </label>
                    <div class="col-8">
                        <input type="Password" th:value="*{confirmPassword}" class="form-control"
                                required minlength="8" maxlength="20"/>
                    </div>
                </div>
                -->
                
                <div class="form-group row">
                    <label class="col-4 col-form-label">Workplace: </label>
                    <div class="col-8">
                            <select class="form-control" id="workplace" name="workplace" required>
                            <option selected>Select...</option>
                            <option>Shopping Center</option>
                            <option>Office Building</option>
                            <option>Hospital</option>
                            <option>Clinic</option>
                            <option>Restaurant</option>
                            <option>Coffee Shop</option>
                        </select> 
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">Are you an Employee or Employer?</label>
                    <div class="col-8">
                            <select class="form-control" id="employmentType" name="employmentType" required>
                            <option selected>Select...</option>
                            <option>Employee</option>
                            <option>Employer</option>
                        </select> 
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">Are you fully vaccinated?</label>
                    <div class="col-8">
                            <select class="form-control" id="isVaccinated" name="isVaccinated" required>
                            <option selected>Select...</option>
                            <option>Yes</option>
                            <option>No</option>
                        </select> 
                    </div>
                </div>

                <div class="form-group align-items-center">
                    <button type="submit" class="btn btn-primary">
                        Create your account
                    </button>
                </div>
                
                <!--<p> <button type="submit" class="btn btn-primary">Register</button> </p>-->
                <!--<p> Have an account? <a th:href="@{/}">Login</a> </p>-->
            </div>
        </form>

        <p class="py-2">Already have an account? <a th:href="@{/}">Sign-In</a> </p>
    </div>
</body>
</html>