
<div>
    <h2 style="text-align: center;">Reset Your Password</h2>
</div>

<form th:action="@{/reset_password}" method="post" style="max-width: 350px; margin: 0 auto;">
    <input type="hidden" name="token" th:value="${token}" />
    <div class="border border-secondary rounded p-3">
        <div class="container" style="width: 350px;">
            <p>
                <input style="width: 100%" type="password" name="password" id="password" class="form-control" required
                    autofocus minlength="8" maxlength="20" placeholder="Enter your new password" />
            </p>
           
            <div class="buttonHolder" style="text-align: center;">
                <input type="submit" value="Change Password" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>


