<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration Success</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <div class="container text-center">
            <h3>Sorry, we could not verify account. It maybe already verified,
                <br>or verification code is incorrect.</h3>
        <h4><a th:href="@{/}">Click here to Login</a></h4>

        </div>
     
</body>
</html>